<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>

        <p>This is the home page</p>
        <p>ABRA KA DABRA</p>
        
        <%= userDetails.first_name %>
        <% if(showEmail){ %>
            <%= userDetails.email %>
        <% } %>

        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>
</body>
</html>
